.button {
    @include transition();
    background-color: $black;
    border: none;
    padding: 10px 25px;
    color: $white;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    border-radius: 2px;

    &:hover {
        background-color: lighten($black, 5%);
    }

    &:focus {
        outline: none;
    }
}
.button--close {
    background-color: lighten($black, 40%);
}

.icon-button {
    color: $white;
    .icon {
        @include transition();
        transform-origin: 50% 50%;
        &.rotating {
            svg {
                width: 24px;
                height: 24px;
            }
        }
    }

    &,
    .icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &[data-state-disabled='false']:active {
        .icon {
            transform: scale(0.7);
        }
    }

    &[data-state-disabled='true'] .icon {
        opacity: 0.5;
    }
}
