button {
    &:focus {
        outline: none;
    }
}

.button {
    @include transition();
    background-color: $brand-primary;
    border: none;
    padding: 10px 25px;
    color: $brand-secondary;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    line-height: 0.9em;
    font-weight: bold;
    font-family: $font-primary;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .icon {
        width: 14px;
        height: 14px;
    }

    &:hover {
        background-color: lighten($brand-primary, 5%);
    }
}
.button--close {
    background-color: lighten($brand-primary, 40%);
}

.icon-button {
    color: $brand-secondary;

    &,
    .icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &:not(:disabled):active {
        .icon {
            transform: scale(0.7);
        }
    }

    &:disabled .icon {
        opacity: 0.5;
    }
}
