.card {
    @include transition();
    display: flex;
    background-color: lighten($black, 30%);
    width: 100%;
    position: relative;

    .layout:not(.mobile) &:active,
    .layout:not(.mobile) &:hover {
        background-color: lighten($black, 60%);
    }

    &__thumbnail {
        display: flex;
        position: relative;
        margin-right: 16px;

        &-badge {
            position: absolute;
            bottom: 5px;
            right: 5px;
            background-color: rgba($black, 0.8);
            border-radius: 4px;
            font-size: 10px;
            font-weight: bold;
            padding: 2px 4px;
            color: $white;
            @media screen and (min-width: 480px) {
                font-size: 14px;
            }
        }

        img {
            object-fit: cover;
            display: inline-block;
            max-height: 100%;
            max-width: 100%;
            height: 100%;
            width: auto;
        }

        .image {
            width: 100px;
            @media screen and (min-width: 480px) {
                width: 200px;
            }
        }
    }

    &__content {
        display: flex;
        text-decoration: none;
        overflow: hidden;
        padding: 16px;
        width: 100%;
        cursor: pointer;
    }

    &__text,
    &__title,
    &__subtitle {
        &,
        & a {
            color: $white;
        }
        font-weight: 300;
        overflow: hidden;
    }

    &__title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        letter-spacing: 0.1em;
        font-size: 12px;
        line-height: 1em;
        margin-top: 0;
        margin-bottom: 10px;
        @media screen and (min-width: 480px) {
            font-size: 16px;
        }
    }

    &__subtitle {
        font-size: 12px;
        margin: 0;
        text-decoration: none;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &.author {
            font-size: 11px;
            line-height: 10px;
            opacity: 0.9;
            @media screen and (min-width: 480px) {
                font-size: 16px;
                line-height: 15px;
            }
        }

        &.nb-videos,
        &.date {
            opacity: 0.7;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
    }

    &__button {
        @include transition();
        flex: 1;
        background-color: $black;
        color: $white;
        border-top: none;
        border-bottom: none;
        border-right: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-left: 2px solid lighten($brand-primary, 20%);
        width: 50px;

        &:not(:last-child) {
            border-bottom: 2px solid lighten($brand-primary, 20%);
        }

        @media screen and (min-width: 480px) {
            &:hover {
                background-color: lighten($black, 10%);
            }
        }

        &:focus {
            outline: none;
        }
        svg {
            @include transition();
            height: 22px;
            width: 22px;
            @media screen and (min-width: 480px) {
                height: 24px;
                width: 24px;
            }
        }
    }
}
