.channel {
    display: flex;
    flex-direction: column;
    flex: 1;

    &__header {
        &-inner {
            display: flex;
            padding: 20px;
        }
    }

    &__thumbnail {
        margin-right: 20px;
        width: 88px;
        height: 88px;
        display: flex;
        .image {
            flex: 1;
        }
    }

    &__details {
        &-title {
            font-size: 20px;
            margin-bottom: 20px;
        }

        button {
            @include transition();
            background-color: $brand-primary;
            color: $white;
            border: none;
            cursor: pointer;
            padding: 10px 20px;
            text-transform: uppercase;
            font-weight: bold;
            font-family: $font-primary;

            &:hover {
                background-color: lighten($brand-primary, 10%);
            }
        }
    }

    &__content {
        flex: 1;
        a {
            color: $white;
        }
    }
}

.list {
    &.channels &__item {
        .card {
            &__thumbnail {
                .image {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    overflow: hidden;
                }
            }

            &__content {
                align-items: center;
            }

            &__text-title {
                margin: 0;
            }
        }
    }
}
