.dropdown {
    position: relative;
    color: $brand-secondary;
    z-index: 1;
    &__trigger {
        border: none;
        position: relative;
        z-index: 1;
        .icon {
            height: 20px;
            width: 20px;
        }
    }

    .icon {
        fill: currentColor;
        margin-left: 15px;
    }

    &__list {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }

    &__trigger,
    &__list-item {
        &-title {
            white-space: nowrap;
        }
        @include transition();
        background-color: $brand-primary;
        color: $brand-secondary;
        height: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 0 15px;

        &:hover,
        &.is-active {
            background-color: lighten($brand-primary, 5%);
        }
    }
}
