.dropdown {
    position: relative;
    color: $white;
    &__current {
        position: relative;
        z-index: 1;
        .icon {
            height: 24px;
            width: 24px;
        }
    }

    .icon {
        fill: currentColor;
    }

    &__options {
        @include transition();
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }

    &__current,
    &__options-item {
        @include transition();
        background-color: $black;
        height: 56px;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 0 15px;

        &:hover,
        &.is-active {
            background-color: lighten($black, 5%);
        }
    }

    &[data-state='closed'] &__options {
        // transform: translateY(-25%);
        opacity: 0;
        visibility: hidden;
    }

    &[data-state='open'] &__options {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}
