.search-form {
    margin: 0;
    flex-grow: 1;
    height: 50px;
    .textfield {
        display: flex;
        align-items: center;
        width: 100%;
    }
}

.textfield {
    &__textarea,
    &__input {
        font-family: $font-primary;
        width: 100%;
        border: none;
        background-color: transparent;
        color: $brand-secondary;
        &:focus {
            outline: none;
        }
    }
    &__textarea {
        padding: 12px;
    }
    &__input {
        line-height: 50px;
    }
    &__label {
        color: rgba($brand-secondary, 0.3);
        &:after {
            background-color: $brand-secondary;
        }
    }
}
