$gutter: 16px;

.grid {
    position: relative;
    flex: 1;
    overflow-y: scroll;

    &__item {
        @include transition(opacity, 0.3s);
        display: flex;

        &:not(:last-child) {
            border-bottom: 2px solid lighten($brand-primary, 20%);
        }

        &[data-state='hidden'] {
            opacity: 0;
        }
    }

    &__loading {
        @include transition(opacity);
        opacity: 0;
        padding: 8px 0;
        display: flex;
        flex: 1;
        fill: $brand-secondary;
        align-items: center;
        justify-content: center;

        &.is-active {
            opacity: 1;
        }

        svg {
            height: 24px;
            width: 24px;
        }
    }
}

.layout__content .grid__item {
    height: calc(100% / 5);

    @media screen and (min-width: 480px) {
        height: calc(100% / 6);
    }

    @media screen and (min-width: 1024px) {
        height: calc(100% / 7);
    }
}
