$gutter: 16px;

.list {
    &__item {
        display: flex;

        &:not(:last-child) {
            border-bottom: 1px solid $brand-primary;
        }
    }

    &__loading {
        @include transition(opacity);
        opacity: 0;
        padding: 8px 0;
        display: flex;
        flex: 1;
        fill: $brand-secondary;
        align-items: center;
        justify-content: center;

        &.is-active {
            opacity: 1;
        }

        svg {
            height: 24px;
            width: 24px;
        }
    }
}
