$gutter: 16px;

.list {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    resize: both;

    &__item {
        display: flex;
        width: 100%;
        &:not(:last-child) {
            border-bottom: 1px solid $brand-primary;
        }
    }

    &__loading {
        padding: 1rem 0;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;

        .icon {
            color: $white;
            height: 2rem;
            width: 2rem;
        }
    }
}
