.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    height: 0;
    z-index: 2;
    @include no-highlights;

    &__container,
    &__overlay {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }

    &__overlay {
        top: 0;
        background-color: rgba($brand-primary, 0.5);
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    }

    &__header {
        cursor: default;
        font-family: $font-primary;
        background-color: $brand-primary;
        color: $brand-secondary;
        font-size: 0.9rem;
        padding: 15px;
        line-height: 1em;

        @media screen and (min-width: 480px) {
            font-size: 1rem;
        }
    }

    &__items {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;

        li {
            display: flex;
            border-top: 2px solid lighten($brand-primary, 20%);
        }
    }

    &__item {
        @include transition(background-color);
        display: flex;
        align-items: center;
        flex: 1;
        background-color: lighten($brand-primary, 5%);
        color: $brand-secondary;
        border: none;
        padding: 15px;
        font-family: $font-primary;
        font-size: 0.9rem;
        cursor: pointer;

        @media screen and (min-width: 480px) {
            font-size: 1rem;
        }

        .icon {
            height: 0.9rem;
            width: 0.9rem;
            margin-right: 15px;

            @media screen and (min-width: 480px) {
                height: 1rem;
                width: 1rem;
            }
        }

        &:hover {
            background-color: lighten($brand-primary, 10%);
        }
    }
}
