.menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($brand-primary, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;

        li {
            display: flex;
            border-top: 2px solid lighten($brand-primary, 20%);
        }
    }

    &__header {
        cursor: default;
        font-family: $font-primary;
        background-color: $brand-secondary;
        color: $brand-primary;
        font-size: 16px;
        padding: 15px;
    }

    &__item {
        @include transition(background-color);
        display: flex;
        align-items: center;
        flex: 1;
        background-color: $brand-secondary;
        color: $brand-primary;
        border: none;
        padding: 15px;
        font-family: $font-primary;
        font-size: 16px;
        cursor: pointer;

        .icon {
            height: 24px;
            width: 24px;
            margin-right: 15px;
        }

        &:hover {
            background-color: darken($brand-secondary, 5%);
        }
    }
}
