.notification {
    background-color: lighten($brand-primary, 5%);
    position: relative;
    display: flex;
    min-height: calc(1em + 40px);

    &__text {
        flex: 1;
        padding: 20px;
    }
    &__action {
        cursor: pointer;
        @include transition();
        height: 100%;
        background-color: lighten($brand-primary, 10%);
        display: flex;
        align-items: center;
        border: none;
        fill: $brand-secondary;
        justify-content: center;
        padding: 0 15px;
        font-weight: bold;
        text-transform: uppercase;

        .icon {
            height: 22px;
            width: 22px;
        }

        &:hover {
            background-color: lighten($brand-primary, 15%);
        }

        &:focus {
            outline: none;
        }

        &:active {
            svg {
                transform: scale(0.7);
            }
        }

        &.is--close {
            min-width: calc(1em + 40px);
            background-color: $red;
            &:hover {
                background-color: lighten($red, 10%);
            }
        }
    }
}

.notification--active {
    transform: translateY(0);
}
