.dialog__overlay {
    @include transition();
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($brand-primary, 0.7);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    z-index: 1;
    -webkit-tap-highlight-color: transparent;
}

.dialog {
    cursor: default;
    background-color: lighten($brand-primary, 5%);
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-tap-highlight-color: transparent;
    color: $brand-primary;
    .textfield__input {
        background-color: $brand-secondary;
        color: $brand-primary;
        padding: 20px;
        resize: vertical;
    }

    &__header {
        background-color: $brand-primary;
        padding: 16px;
        border-bottom: 2px solid lighten($brand-primary, 20%);
        color: $brand-secondary;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 700;
        .icon {
            width: 1.4em;
            height: 1.4em;
            margin-right: 10px;
        }
    }

    &__content {
        overflow: auto;
        flex: 1;
        border-bottom: 2px solid lighten($brand-primary, 20%);
    }

    &__actions {
        background-color: $brand-primary;
        display: flex;
        justify-content: flex-end;
        flex-shrink: 0;
        padding: 16px;
        .button {
            background-color: lighten($brand-primary, 5%);
            &:hover {
                background-color: lighten($brand-primary, 10%);
            }
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}

.playlist-menu {
    display: flex;
    flex-direction: column;
    height: 40vh;
    &__form {
        border-bottom: 2px solid lighten($brand-primary, 20%);
        display: flex;

        .dropdown {
            color: $brand-secondary;
            border-left: 2px solid lighten($brand-primary, 20%);
            border-right: 2px solid lighten($brand-primary, 20%);
            &__trigger,
            &__list-item {
                background-color: $brand-primary;
                color: $brand-secondary;

                &:hover,
                &.is-active {
                    background-color: lighten($brand-primary, 5%);
                }
            }
        }

        input {
            @include transition();
            background-color: transparent;
            border: none;
            padding: 0 20px;
            &:focus {
                outline: none;
                background-color: darken($brand-secondary, 5%);
            }
        }

        [type='submit'] {
            height: 50px;
            @include transition();
            background-color: $brand-primary;
            color: $brand-secondary;
            border: none;
            padding: 0 20px;
            margin: 0;
            cursor: pointer;
            &:hover {
                background-color: lighten($brand-primary, 5%);
            }
        }
    }

    &__items {
        flex: 1;
        display: flex;
    }

    .grid,
    .list {
        flex: 1;
        &__item {
            height: 54px;
            &:not(:last-child) {
                border-bottom: 1px solid lighten($brand-primary, 20%);
            }
        }
        &__loading .icon {
            color: $brand-primary;
        }
    }

    &__item {
        background-color: lighten($brand-primary, 5%);
        @include transition();
        display: flex;
        flex: 1;
        align-items: center;
        text-align: left;
        margin: 0;
        padding: 0;
        cursor: pointer;
        border: none;
        overflow: hidden;

        &:hover {
            background-color: lighten($brand-primary, 10%);
        }

        &-count,
        &-text {
            color: $brand-secondary;
        }

        &-text {
            line-height: 0.9em;
            flex: 1;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 20px;
        }

        &-count {
            padding: 20px 20px 20px 0;
        }
    }
}
