.dialog__overlay {
    @include transition();
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black, 0.7);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    z-index: 2;
    -webkit-tap-highlight-color: transparent;
}

.dialog {
    cursor: default;
    background-color: $white;
    position: relative;
    max-height: 50vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-tap-highlight-color: transparent;
    color: $black;
    .textfield__input {
        @extend .add-bottom;
        color: $black;
        padding: 20px;
        resize: vertical;
    }

    &__header {
        padding: 20px;
        border-bottom: 2px solid lighten($brand-primary, 20%);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        font-size: 1.5em;
        font-weight: 700;
        .icon {
            width: 1.4em;
            height: 1.4em;
            margin-right: 10px;
        }
    }

    &__content {
        overflow: auto;
        flex: 1;
        border-bottom: 2px solid lighten($brand-primary, 20%);
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        flex-shrink: 0;
        padding: 20px;
        .button {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}

.playlist-menu {
    display: flex;
    flex-direction: column;
    height: 30vh;
    form {
        border-bottom: 2px solid lighten($brand-primary, 20%);
        flex: 1 0 auto;
    }

    .grid {
        &__item {
            height: 59px;
        }
    }

    &__item {
        background-color: $white;
        @include transition();
        display: flex;
        flex: 1;
        align-items: center;
        text-align: left;
        margin: 0;
        padding: 0;
        cursor: pointer;
        border: none;
        &:hover {
            background-color: darken($white, 10%);
            > .icon {
                opacity: 1;
            }
        }

        [type='submit'] {
            height: 56px;
            @include transition();
            background-color: $black;
            color: $white;
            border: none;
            padding: 0 20px;
            margin: 0;
            cursor: pointer;
            &:hover {
                background-color: lighten($black, 5%);
            }
        }

        input {
            background-color: transparent;
            border: none;
        }

        .dropdown {
            color: $black;
            border-left: 2px solid lighten($brand-primary, 20%);
            border-right: 2px solid lighten($brand-primary, 20%);
            &__current,
            &__options-item {
                background-color: $white;
                color: $black;

                &:hover,
                &.is-active {
                    background-color: darken($white, 5%);
                }
            }
        }

        &-text {
            line-height: 0.9em;
            flex: 1;
        }

        input,
        &-text {
            padding: 20px;
        }

        > .icon {
            @include transition();
            opacity: 0;
            height: 57px;
            width: 57px;
            flex-shrink: 0;
            fill: currentColor;
            svg {
                width: 1em;
                height: 1em;
            }
        }
    }
}
