.card {
    @include transition();
    display: flex;
    background-color: lighten($black, 40%);
    width: 100%;

    &:active,
    &:hover {
        background-color: lighten($black, 60%);
    }

    &__thumb {
      overflow: hidden;
      img {
        display: inline-block;
        height: 100%;
        width: auto;
      }
    }

    &__content {
      text-decoration: none;
      padding: 16px;
      display: flex;
      flex: 1;
    }

    &__content &__text {
      flex-direction: column;
      justify-content: space-between;
    }

    > .card__text {
      cursor: pointer;
      padding: 16px;
    }

    &.has-thumb .card__text {
      padding-left: 16px;
    }

    &__text {
        display: flex;
        flex: 1;
        color: $white;
        div {
          &:first-child {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          &:last-child {
            font-size: 14px;
            @media screen and (min-width: 1024px) {
                font-size: 20px;
            }
          }
        }

        &-title {
            letter-spacing: 0.1em;
            font-size: 14px;
            @media screen and (min-width: 1024px) {
                font-size: 20px;
            }
            line-height: 19px;
            margin-top: 0;
            margin-bottom: 5px;
        }

        &-subtitle {
            font-size: 14px;
            line-height: 13px;
            margin: 0;
        }
    }

    &__button {
        @include transition();
        background-color: $black;
        fill: $white;
        border-top: none;
        border-bottom: none;
        border-right: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-left: 2px solid lighten($brand-primary, 20%);

        &:hover {
            background-color: lighten($black, 10%);
        }

        &:focus {
            outline: none;
        }

        width: 50px;

        svg {
            @include transition();
            height: 30px;
            width: 30px;
        }
    }


}
