{
  "presets": [
    "env"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "lodash",
    "transform-runtime",
    ["transform-react-jsx", { "pragma": "h" }]
  ]
}
