.PlayerDescription {
    background-color: lighten($brand-primary, 20%);
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 100px;
    max-height: calc(100vh - 150px);
    padding: 1rem;
    white-space: pre-wrap;
    line-height: 1.5em;

    @media screen and (min-width: 480px) {
        bottom: 50px;
        max-height: calc(100vh - 100px);
    }

    a {
        color: $white;
    }
}
