.Queue {
    overflow: hidden;
    background-color: lighten($brand-primary, 20%);
    @include transition(transform);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 -2px 2px 0 rgba($brand-primary, 0.14),
        0 3px 1px -2px rgba($brand-primary, 0.2),
        0 1px 5px 0 rgba($brand-primary, 0.12);
    transform: translateY(100%);

    [data-state-fullscreen='enabled'] & {
        transform: translateY(calc(100% + 50px));
    }

    @media screen and (min-width: 480px) {
        bottom: 50px;
    }

    &.is--visible {
        transform: translateY(0);
    }

    &__Content {
        position: relative;
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    &__Items {
        position: relative;
        overflow-x: hidden;
        overflow-y: scroll;
        flex: 1;

        .sortable {
            height: 50px;
            position: relative;

            &:not(:last-child) {
                border-bottom: 1px solid lighten($brand-primary, 15%);
            }
        }
    }
}

.QueueItem {
    @include transition(background-color, 0.2s, ease-out);
    height: 50px;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    background-color: lighten($brand-primary, 20%);
    flex: 1;
    overflow: hidden;

    @media screen and (min-width: 480px) {
        &:hover {
            background-color: lighten($brand-primary, 30%);
        }
    }

    &,
    &__Content {
        display: flex;
        align-items: center;
    }

    &__Content {
        flex: 1;
        overflow: hidden;
    }

    &__Title,
    &__Duration {
        text-transform: uppercase;
        font-size: 12px;
        font-family: $font-primary;
        padding: 16px;

        &::selection {
            background-color: transparent;
        }

        @media screen and (min-width: 480px) {
            font-size: 16px;
        }
    }

    &__Title {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        flex: 1;
        font-weight: 500;
    }

    &__Button {
        padding: 0;
        background-color: transparent;
        fill: $brand-secondary;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        height: 48px;
        width: 40px;
        cursor: pointer;
        font-weight: bold;
        font-size: 1rem;

        svg {
            height: 22px;
            width: 22px;
            @media screen and (min-width: 480px) {
                height: 24px;
                width: 24px;
            }
        }
    }

    &.is-active {
        &,
        &:hover {
            background-color: lighten($brand-primary, 40%);
        }
    }
}

.sortable {
    overflow: hidden;
    cursor: pointer;
    display: flex;
    background-color: lighten($brand-primary, 20%);

    &__drag-handle {
        padding: 0;
        background-color: transparent;
        fill: $brand-secondary;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        height: 48px;
        width: 40px;
        cursor: grab;

        &:active {
            cursor: grabbing;
        }

        svg {
            height: 22px;
            width: 22px;
            @media screen and (min-width: 480px) {
                height: 24px;
                width: 24px;
            }
        }

        &:focus {
            outline: none;
        }
    }

    &.is--dragged {
        opacity: 0.5;
        cursor: grabbing;
        pointer-events: none;
    }

    &.has--transition {
        @include transition(transform);
    }

    &-overlay {
        z-index: 1;
        pointer-events: none;
    }
}
