.screen {
    background-color: lighten($brand-primary, 20%);
    @include transition();
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 100px;
    display: flex;

    & > div {
        flex: 1;
    }

    &[data-state='hidden'] {
        transform: translateY(100%);
        visibility: hidden;
    }

    &[data-state='visible'] {
        transform: translate(0);
    }

    @media screen and (min-width: 480px) {
        bottom: 50px;
    }

    [data-state-fullscreen='enabled'] & {
        top: 0;
        bottom: 0;
    }

    .placeholder {
        background-color: lighten($brand-primary, 20%);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }

    iframe {
        width: 100%;
        height: 100%;
    }
}
