.layout__container {
}

.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;

  &-title {
    font-family: $font-primary;
  }

  &__content {
    height: calc(100vh - 56px - 100px);

    @media screen and (min-width: 480px) {
      height: calc(100vh - 56px - 50px);
    }
  }
}
