.layout {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    position: relative;
    height: 100vh;
    &-title {
        font-family: $font-primary;
    }

    &__content {
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
}
