.layout-title {
    font-size: 20px;
}
.layout__header {
    @include transition();
    position: relative;
    background-color: $brand-primary;
    display: flex;
    z-index: 1;
    &-row {
        display: flex;
        flex: 1;
        align-items: center;
        padding: 0 16px 0 16px;
        height: 56px;
    }
}

.layout__back-button {
    background-color: transparent;
    border: none;
    fill: $white;
    height: 100%;
    cursor: pointer;
    margin-right: 15px;
    text-overflow: ellipsis;
    padding: 0 15px;
    margin-left: -15px;

    &:focus {
        outline: none;
    }
    svg {
        height: 22px;
        width: 22px;
        @media screen and (min-width: 480px) {
            height: 24px;
            width: 24px;
        }
    }
}

.navigation {
    height: 100%;
    display: flex;
    flex: 1;
    justify-content: flex-end;

    img {
        border-radius: 100%;
        height: 24px;
        width: 24px;
        @media screen and (min-width: 480px) {
            height: 30px;
            width: 30px;
        }
    }
    svg {
        @include transition();
        height: 22px;
        width: 22px;
        @media screen and (min-width: 480px) {
            height: 24px;
            width: 24px;
        }
    }

    &__link {
        font-size: 16px;
        letter-spacing: 0.07em;
        font-family: $font-primary;
        align-items: center;
        text-transform: uppercase;
        @include transition();
        color: $brand-secondary;
        fill: $brand-secondary;
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        cursor: pointer;

        .layout__header-row & {
            padding: 0 12px;
            &:last-child {
                padding-right: 0;
            }
        }

        svg {
            @include transition(transform);
        }

        &:focus {
            outline: 0;
        }

        &.is-active,
        &:hover {
            color: rgba($brand-secondary, 0.7);
            fill: rgba($brand-secondary, 0.7);
        }
    }
}
