.search-form {
  margin: 0;
  flex-grow: 1;
  .mdl-textfield {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.mdl-textfield {
  &__input {
    font-family: $font-primary;
    width: 100%;
    border: none;
    background-color: transparent;
    color: $white;
    &:focus {
      outline: none;
    }
  }
  &__label {
    color: rgba($white, 0.3);
    &:after {
      background-color: $white;
    }
  }
}
