$gutter: 16px;

.grid {
  position: relative;
  height: calc(100vh - 56px - 50px);
  overflow-y: auto;

  &__item {
      display: flex;
      height: calc((100vh - 56px - 50px) / 5);

      @media screen and (min-width: 1024px) {
        height: calc((100vh - 56px - 50px) / 7);
      }
  }
  &__loading {
    @include transition(opacity);
    opacity: 0;
    margin: 8px 0;
    display: flex;
    flex: 1;
    fill: $brand-secondary;
    align-items: center;
    justify-content: center;

    &.is-active {
      opacity: 1;
    }

    svg {
        height: 30px;
        width: 30px;
    }
  }
}
