@import '_variables';
@import '_mixins';

@include font-face('Open Sans', '../fonts/OpenSans', normal, normal);
@include font-face('Open Sans', '../fonts/OpenSans-Bold', bold, normal);

@include font-face('Montserrat', '../fonts/Montserrat-Regular', normal, normal);
@include font-face('Montserrat', '../fonts/Montserrat-Bold', 700, normal);
@include font-face('Montserrat', '../fonts/Montserrat-ExtraBold', 800, normal);

* {
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
}
body {
  position: relative;
  background-color: lighten($brand-primary, 20%);
  color: $brand-secondary;
  font-family: $font-secondary;
}

h1, h2 {
  font-family: $font-primary;
}

h1 {
  @extend .add-top;
  text-transform: uppercase;
}

svg {
  position: relative;
  pointer-events: none;
  vertical-align: middle;
  path {
    fill: inherit;
  }
}
.sprite {
  display: none;
}

.loading {
      -webkit-animation: rotating 2s linear infinite;
      -moz-animation: rotating 2s linear infinite;
      animation: rotating 2s linear infinite;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid lighten($brand-primary, 40%);
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid lighten($brand-primary, 40%);
}

.app-loader {
  position: fixed;
  z-index: 7;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $brand-primary;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  .loading {
    fill: $brand-secondary;
    height: 50px;
    width: 50px;
  }
}

.app-loader--active {
  opacity: 1;
  visibility: visible;
}

.mdl-snackbar {
  z-index: 5;
}

.mdl-dialog {
  z-index: 6;
  top: 50%;
  transform: translateY(-50%);
}

.playlist-items,
.search {
  background-color: lighten($brand-primary, 20%);
  @include transition();
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  transform: translateY(100%);
  height: calc(100vh - 124px);

  .mdl-grid {
    height: 100%;
    overflow-y: auto;
  }
}
.playlist-items {
  z-index: 1;
}
.search {
  z-index: 2;
}
.playlist-items--show,
.search--show {
  transform: translateY(0);
}
