$black: #212121;
$white: #FAFAFA;
$red: #ed6c63;
$blue: #1fc8db;

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

$brand-primary: $black;
$brand-secondary: $white;
