.layout {
    &:after {
        @include transition();
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
        background-color: rgba($brand-primary, 0.5);
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-bottom: 0;
        display: block;
        content: '';
        z-index: 4;
    }

    &-title {
        font-family: $font-primary;
    }

    &__content {
        @include transition();
        margin-bottom: 50px;
    }
}
