.layout-title {
  font-size: 20px;
}
.layout__header {
    @include transition();
    position: relative;
    background-color: $brand-primary;
    display: flex;
    z-index: 1;
    &-row {
      display: flex;
      flex: 1;
      align-items: center;
      padding: 0 16px 0 16px;
      height: 56px;
    }
}

.layout__back-button {
  background-color: transparent;
  border: none;
  fill: $white;
  height: 100%;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  svg {
    height: 30px;
    width: 30px;
  }
}

.navigation {
    height: 100%;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    svg {
        @include transition();
        height: 26px;
        width: 26px;
        @media screen and (min-width: 480px) {
          height: 30px;
          width: 30px;
        }
    }

    &__link {
        font-size: 16px;
        letter-spacing: 0.07em;
        font-family: $font-primary;
        align-items: center;
        text-transform: uppercase;
        @include transition();
        color: $brand-secondary;
        fill: $brand-secondary;
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        cursor: pointer;

        .layout__header-row & {
            padding: 0 12px;
            &:last-child {
              padding-right: 0;
            }
        }

        svg {
            @include transition(transform);
        }

        &:focus {
            outline: 0;
        }

        &.is-active,
        &:hover {
            color: rgba($brand-secondary, 0.7);
            fill: rgba($brand-secondary, 0.7);
        }
    }
}
