@import '_variables';
@import '_mixins';

@include font-face('Open Sans', '../fonts/OpenSans', normal, normal);
@include font-face('Open Sans', '../fonts/OpenSans-Bold', bold, normal);

@include font-face('Montserrat', '../fonts/Montserrat-Regular', normal, normal);
@include font-face('Montserrat', '../fonts/Montserrat-Bold', 700, normal);
@include font-face('Montserrat', '../fonts/Montserrat-ExtraBold', 800, normal);

* {
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
}
body {
  position: relative;
  background-color: lighten($brand-primary, 20%);
  color: $brand-secondary;
  font-family: $font-secondary;
  overflow: hidden;
}

h1, h2 {
  font-family: $font-primary;
  font-weight: normal;
}

h1 {
  @extend .add-top;
  text-transform: uppercase;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  position: relative;
  pointer-events: none;
  vertical-align: middle;
  path {
    fill: inherit;
  }
}
button, a, input {
  -webkit-tap-highlight-color: transparent;
}
.sprite {
  display: none;
}

.rotating {
      -webkit-animation: rotating 2s linear infinite;
      -moz-animation: rotating 2s linear infinite;
      animation: rotating 2s linear infinite;
}

.app-loader {
  @include transition();
  position: fixed;
  z-index: 7;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $brand-primary;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  fill: $white;

  svg {
    fill: $brand-secondary;
    height: 50px;
    width: 50px;
  }
}

.app-loader--active {
  opacity: 1;
  visibility: visible;
}

.playlist-items,
.search {
  background-color: lighten($brand-primary, 20%);
  @include transition();
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  transform: translateY(100%);
  bottom: 100px;

  @media screen and (min-width: 480px) {
    bottom: 50px;
  }

  .grid {
    height: 100%;
    overflow-y: auto;
  }
}

.playlist-items {
  z-index: 1;
}
.search {
  z-index: 2;
}

.playlist-items--show,
.search--show {
  transform: translateY(0);
}

.image {
  position: relative;
  margin: 0;

  &-background {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  &-background,
  img {
    @include transition();
    opacity: 0;
  }

  &-loader {
    @include transition();
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: $white;
    background-color: inherit;
    svg {
      width: 24px;
      height: 24px;
    }
  }

  &.loaded {
    .image-background,
    img {
      opacity: 1;
    }

    .image-loader {
      opacity: 0;
    }
  }
}

.log_in {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
