@import '_variables';
@import '_mixins';

@include font-face('Open Sans', '../fonts/OpenSans', normal, normal);
@include font-face('Open Sans', '../fonts/OpenSans-Bold', bold, normal);

@include font-face('Montserrat', '../fonts/Montserrat-Regular', normal, normal);
@include font-face('Montserrat', '../fonts/Montserrat-Bold', 700, normal);
@include font-face('Montserrat', '../fonts/Montserrat-ExtraBold', 800, normal);

* {
    box-sizing: border-box;
}

body,
html {
    min-height: 100vh;
}
body {
    position: relative;
    background-color: lighten($brand-primary, 20%);
    color: $brand-secondary;
    font-family: $font-secondary;
    overflow: hidden;
    font-size: 14px;
}

h1,
h2 {
    font-family: $font-primary;
    font-weight: normal;
}

h1 {
    @extend .add-top;
    text-transform: uppercase;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

    &:not([src]) {
        opacity: 0;
    }
}

svg {
    position: relative;
    pointer-events: none;
    vertical-align: middle;
    path {
        fill: inherit;
    }
}
button,
a,
input {
    -webkit-tap-highlight-color: transparent;
}
.icons {
    display: none;
}

.icon {
    fill: currentColor;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        width: 100%;
        height: 100%;
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

.app {
    height: 100vh;
}

.loader {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &,
    &__background {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    &__background {
        background-color: $brand-primary;
    }

    .icon {
        color: $brand-secondary;
        height: 50px;
        width: 50px;
    }
}

.image {
    position: relative;
    margin: 0;

    &__background {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        position: absolute;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__loader {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: $white;
        background-color: inherit;
        svg {
            width: 24px;
            height: 24px;
        }
    }
}

.log-in {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
