.hidden {
    display: none;
}

.add-top {
    margin-top: 20px;
}

.add-bottom {
    margin-bottom: 20px;
}

.shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba($brand-primary, 0.14),
        0 3px 1px -2px rgba($brand-primary, 0.2),
        0 1px 5px 0 rgba($brand-primary, 0.12);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.no-pointer {
    pointer-events: none;
}

.cursor {
    &-grabbing {
        cursor: grabbing;
    }
}
