$black: #191919;
$white: #fafafa;
$red: #ed6c63;
$blue: #1fc8db;

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

$brand-primary: #21222c;
$brand-secondary: $white;
